---
import ThemeSwitch from "@/components/ThemeSwitch.astro";
---

<header class="max-w-2xl mx-auto px-6 w-full">
  <div class="py-8 flex items-center justify-between">
    <a href="/blog_alpha/" class="text-xl font-medium dark:text-zinc-200">MyBlog</a>
    <nav class="flex items-center gap-6">
      <a href="/blog_alpha/blog" class="text-sm hover:underline dark:text-zinc-400 dark:hover:text-zinc-200">Blog</a>
      <a href="/blog_alpha/now" class="text-sm hover:underline dark:text-zinc-400 dark:hover:text-zinc-200">About</a>
      <ThemeSwitch />
    </nav>
  </div>
</header>
